{% extends "network/layout.html" %}

{% block body %}

    <div>
        {% for post in page_obj %}
        <div id='{{post.id}}' style="position: relative;">
            <p><a href="{% url 'profile' post.author %}">{{ post.author }}</a> at {{ post.created_at }} </p>
            <div>
                {{ post.content }}
            </div>
            {% if post.id in posts_likes %}
            <button type="button" class="btn btn-outline-primary btn-sm like">
                liked <span class="badge badge-light">{{ post.n_likes }}</span>
            </button>
            {% else %}
            <button type="button" class="btn btn-outline-primary btn-sm like">
                like <span class="badge badge-light">{{ post.n_likes }}</span>
            </button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div>
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
        {%endif%}
    
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {%endif%}
        {% endfor%}
    
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.page_range}}">Last</a>
        {%endif%}
    </div>
{% endblock %}